[submodule "dmlc-core"]
	path = 3rdparty/dmlc-core
	url = https://gitee.com/wangpengabc/dmlc-core.git
[submodule "dlpack"]
	path = 3rdparty/dlpack
	url = https://gitee.com/wangpengabc/dlpack.git
[submodule "3rdparty/rang"]
	path = 3rdparty/rang
	url = https://gitee.com/wangpengabc/rang.git
[submodule "3rdparty/vta-hw"]
	path = 3rdparty/vta-hw
	url = https://gitee.com/wangpengabc/tvm-vta.git
[submodule "3rdparty/libbacktrace"]
	path = 3rdparty/libbacktrace
	url = https://gitee.com/wangpengabc/libbacktrace.git
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://gitee.com/wangpengabc/cutlass 
